div {
  background-color: #e4f9f5;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
.pro1 {
  font-size: 30px;
}
body {
  background-color: #e4f9f5;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
  margin-bottom: -100px;
}
img {
  display: inline-block;
}
.web-des {
  float: left;
  margin-right: 30px;
}
.pyt {
  height: 64px;
  float: left;
  margin-right: 30px;
}
.cpp {
  height: 64px;
  float: left;
  margin-right: 30px;
}
.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}
.react {
  height: 64px;
  float: left;
  margin-right: 30px;
}
.aws {
  height: 64px;
  float: left;
  margin-right: 30px;
}
.nodejs {
  height: 64px;
  float: left;
  margin-right: 30px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.sql {
  height: 64px;
  float: left;
  margin-right: 30px;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 10%;
}
#fb {
  margin-left: 10px;
  margin-right: 10px;
}
#git {
  margin-left: 10px;
}
#twt {
  margin-left: 10px;
}

@media (max-width: 600px) {
  body {
    background-color: #e4f9f5;
  }
}

.BUTTON_MJJ {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 24px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: outset #11cdd4 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_MJJ:hover {
  border: solid #2bc4ad 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #3d94f6);
  background-image: -moz-linear-gradient(top, #30e3cb, #3d94f6);
  background-image: -ms-linear-gradient(top, #30e3cb, #3d94f6);
  background-image: -o-linear-gradient(top, #30e3cb, #3d94f6);
  background-image: -webkit-gradient(to bottom, #30e3cb, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.intro {
  width: 30%;
  margin: auto;
}
.experience-row {
  width: 20%;
  margin: auto;
  line-height: 2;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
